<marquee behavior="scroll" direction="left">
	<img src="https://zerocater-images.s3-us-west-1.amazonaws.com/cache/ce/17/ce17d13141737892fbb7d731cb7f228b.png?Signature=dgZli7miSEKU3f%2BF4FcAnVOk%2BY4%3D&amp;Expires=1435281914&amp;AWSAccessKeyId=AKIAIZFILS3RX3RWAP4A" class="img-responsive"></img>
	<img src="https://zerocater-images.s3-us-west-1.amazonaws.com/cache/d5/a8/d5a83d8b961380ef301dd8020f7a74f1.png?Signature=vjv1PCJCCmAaRkY9FlJDSv7Ewek%3D&amp;Expires=1435281915&amp;AWSAccessKeyId=AKIAIZFILS3RX3RWAP4A" class="img-responsive"></img>
</marquee>